
body {
      background:
        radial-gradient(circle at 10px 10px, transparent 7px, #F6F6F6 7px, #F6F6F6 13px, transparent 13px) 0 0,
        radial-gradient(circle at 9px 9px, transparent 8px, #ECECEC 8px, #ECECEC 12px, transparent 12px) 0 0;
      background-color: white;
      background-size: 20px 20px, 19px 19px;
     }
.row {background-color: #ffffff;}
 

#footer {
	color: #CCCCCC;
	background-color: #333333;
}

/*********************
	 Marketing Area
**********************/
.marketing {
  color:#5A5A5A;
}

.marketing h1 {
  font-size:50px;
  font-weight:200;
  letter-spacing:-1px;
  line-height:1;
  margin:10px 0 10px;
}

.marketing h2 {
  font-weight:200;
  margin-bottom:5px;
}

.marketing .marketing-byline {
  color:#999999;
  font-size:20px;
  font-weight:300;
  line-height:1.25;
  margin-bottom:40px;
}

.marketing p {
  font-size:16px;
  line-height:1.5;
}

.marketing img {
	margin: 5px auto;
}


